.DS_Store
.dart_tool/
.idea
.packages
.pub/
.vscode/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
ios/Flutter/flutter_export_environment.sh

pubspec.lock
example/ios/Flutter/flutter_export_environment.sh